---
import lang from "../i18n/languageService";
import Layout from '../layouts/Layout.astro';
import EducationCard from '../components/EducationCard.astro';
import CourseCard from '../components/CourseCard.astro';
import { getEducations } from '../services/education';
import { getCourses } from '../services/course';

const educations = await getEducations();
const courses = await getCourses();
---

<Layout title={lang.education.title}>
	<main>
		<h1>{lang.education.education}</h1>
		<div>
			{
				educations.map((education) => (
					<EducationCard education={education} />
				))
			}
		</div>
        <h2>{lang.education.courses}</h2>
		<div>
			{
				courses.map((course) => (
					<CourseCard course={course} />
				))
			}
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 0 26vw auto 26vw;
	}

	h1 {
		color: #FFFFFF;
		margin-top: 8vh;
		font-size: 2.2rem;
	}

    h2 {
		color: #FFFFFF;
		margin-top: 6vh;
		font-size: 1.8rem;
    }

	@media only screen and (max-width: 1200px) {
		main {
			margin: 0 16vw auto 16vw;
		}
	}

	@media only screen and (max-width: 768px) {
		main {
			margin: 0 7vw auto 7vw;
		}
	}
</style>