---
import lang from "../i18n/languageService";
import { type Project } from '../types/project';
import SvgRender from './SvgRender.astro';
import GitHub from "./icons/GitHub.astro";
import Youtube from "./icons/Youtube.astro";
import Website from "./icons/Website.astro";
// @ts-ignore
import { Image } from 'astro:assets';

import { YOUTUBE_URL, GITHUB_URL, RESOURCE_URL } from '../utils/constants';

interface Props {
	project: Project;
}

const { project } = Astro.props as Props;

const imgURL: string = `${RESOURCE_URL}/${project.image}`;
const imgAlt: string = `${lang.project.img_alt} ${project.title}`;
const youtubeURL: string = `${YOUTUBE_URL}${project.youtube}`;
const githubLink: string = `${GITHUB_URL}/${project.github}`;
---
<article class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="flip-card-front-container">
                <h3>{project.title}</h3>
                <Image 
                    src={imgURL} 
                    alt={imgAlt}
                    width="300"
                    height="200"
                    loading="eager"
                />
            </div>
        </div>
        <div class="flip-card-back">
            <div class="flip-card-back-container">
                <h5>{project.description}</h5>
                <div class="technologies">
                    {
                        project.technologies.map((technology) => (
                            <SvgRender svg_string={technology.image} width='2rem' height='2rem' />
                        ))
                    }
                </div>
                <div class="project-links">
                    {
                        project.youtube && (
                            <a href={youtubeURL} target="_blank">
                                <Youtube class_name="icon_links" title={lang.project.youtube_link} />
                            </a>
                        )
                    }
                    {
                        project.website && (
                            <a href={project.website} target="_blank">
                                <Website class_name="icon_links" title={lang.project.web_link} />
                            </a>
                        )
                    }
                    <a href={githubLink} target="_blank">
                        <GitHub class_name="icon_links" title={lang.project.github_link}/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>

<style>
    .flip-card {
        perspective: 1000px;
        height: 300px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s ease;
        transform-style: preserve-3d;

        background-color: #1a2632;
        border: #2f4f68 solid 1px;
        border-radius: 9px;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }


    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .flip-card-back-container, .flip-card-front-container {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        justify-content: center; 

        width: 90%;
        height: 90%;
    }

    .flip-card-back {
        transform: rotateY(180deg);
    }


    .technologies, .project-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .technologies {
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .project-links {
        justify-content: space-evenly;
    }

    img  {
        border-radius: 9px;
        object-fit: contain;
        width: 80%; 
        max-height: 80%;
        height: auto; 
    }

    h3 {
        color: #FFFFFF;
        margin: 0;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }

    h5 {
        color: #FFFFFF;
        margin: 0;
        font-weight: 600;
        text-align: center;
    }

    @media only screen and (max-width: 768px) {
        .flip-card {
            height: 400px;
        }


	}
</style>

<style is:global>
    .icon_links {
        width: 2rem;
        height: 2rem;
        transition: transform 0.3s ease-in-out;
    }

    .icon_links:hover {
        transform: scale(1.35);
    }
</style>